.damu-nav {
  position: relative;
  width: 100%;
  height: 2.62222222rem;
  padding: 0.45925926rem 0 0.20740741rem 0;
  box-sizing: border-box;
  background: #EEEEEE;
}
.damu-nav::before {
  position: absolute;
  content: "";
  display: block;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #000000;
}
@media only screen and (-webkit-device-pixel-ratio: 2) {
  .damu-nav::before {
    transform: scaleY(0.5);
  }
}
@media only screen and (-webkit-device-pixel-ratio: 3) {
  .damu-nav::before {
    transform: scaleY(0.33333333);
  }
}
.damu-nav .list {
  font-size: 0;
  white-space: nowrap;
  float: left;
}
.damu-nav .list > li {
  height: 1.91111111rem;
  line-height: 1.91111111rem;
  font-size: 1rem;
  display: inline-block;
}
.damu-nav .list > li a {
  padding: 0 0.56296296rem;
  display: block;
  color: #000000;
  height: 100%;
}
.damu-nav .list > li.active {
  background: #690;
}
.damu-nav .list > li.active a {
  color: #fff;
}
