@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1634180184718') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Frog:before {
  content: "\e871";
}

.icon-Bat:before {
  content: "\e870";
}

.icon-Panda:before {
  content: "\e872";
}

.icon-Elephant:before {
  content: "\e873";
}

.icon-Spider:before {
  content: "\e877";
}

